@model MvcApplication2.Models.IndexPage
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <thead>
        <tr>
            <th>Amount of items</th>
            <th>SQL</th>
            <th>SQL bulk</th>
            <th>MongoDB</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>100</td>
            <td>1.89</td>
            <td>1.09</td>
            <td>0.23</td>
        </tr>
    </tbody>
</table>



